.cart-container {

    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    color: getColor(white);
    font-size: 20px;

    img {
        width: 90px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .products {
        display: flex;
        text-align: left;
        padding-top: 20px;
        width: 300px;
        margin: 0 auto;
    }
    h3 {
        color: getColor(gold);
    }
    h4 {
        color: getColor(light-grey);
    }

}

.total-container {
    text-align: center;
    color: getColor(white);
    font-size: 40px;
}