.product-detail-container {
    background: getColor(black);
    padding-top: 20px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;

    text-align: center;

    img {
        width: 250px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    p {
        width: 300px;
        margin: 0 auto;
        color: getColor(light-grey);
    }

    i {
        font-size: 30px;
        padding-right: 8px;
        color: getColor(light-grey);
    }
    h3 {
        color: getColor(white);
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
        padding-bottom: 6px;
    }


    .delivery-icon-container {
        width: 200px;
        margin: 0 auto;
        padding-top: 20px;

        .delivery {
            display: flex;
            justify-content: space-between;
            text-align: left;
            padding-top: 16px;
            
        }
    
        .fast-delivery-text {
        
            h4 {
                padding: 0;
                margin: 0;
                color: getColor(white);
            }
    
            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    @media (min-width: $media-ipad) {
        padding-bottom: 120px;
        padding-top: 100px;
        .product {
            width: 650px;
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            margin: 0 auto;
        }
        .product-text {
            padding-top: 50px;
        }
        .delivery-icon-container {
            display: flex;
            padding-top: 30px;
            padding-bottom: 50px;
            width: 500px;
        }
    }

    

}