.featured-container {
    background: getColor(black);
    padding-bottom: 200px;
    padding-top: 16px;

    h3 {
        color: getColor(white);
        text-transform: uppercase;

    }
    h4 {
        color: getColor(light-grey);
    }
    .featured-products-headline {
        text-align: center;

        h2 {
            text-align: center;
            padding-top: 20px;
        }

        h1 {
            padding-top: 30px;
            padding-bottom: 20px;
        }

        img {
            width: 300px;
        }

        hr {
            transform: rotate(90deg);
            width: 50px;
            border-top: 2px solid getColor(dark-grey);
        }

    }


    @media (min-width: $media-ipad) {
        padding-bottom: 300px;

        .qoute {
            display: flex;
            justify-content: space-between;
            width: 250px;
            margin: 0 auto;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 25px;
        }

        h3 {
            padding-bottom: 8px;
            margin-bottom: 0;
        }

        h4 {
            font-size: 18px;
            font-weight: 300;
            margin-top: 0;
            padding-top: 0;
        }
        a {
            font-size: 20px;
        }

        .featured-products-container {
            display: flex;
            flex-wrap: wrap;
            
            .featured-content {
                flex: 1 16%;
            }

            img {
                width: 200px;
            }
        }
    }

}