footer {
    background: getColor(black);
    margin-top: 50px;
    padding-bottom: 40px;

    .navbar__brand-name {
        font-size: 45px;
        text-align: center;
        padding-top: 30px;
        font-weight: 300;
    }
    .copyright {
        color: getColor(white);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .copyright a {
        color: getColor(white);
        text-decoration: none;

        &:hover {
            color: getColor(gold);
        }
    }
    span {
        font-weight: 600;
    }

}