footer {
    background: getColor(dark-grey);
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;

    .navbar__brand-name {
        font-size: 30px;
        text-align: center;
        padding: 0;
        padding-top: 8px;
        font-weight: 300;
    }
    .copyright {
        color: getColor(white);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .copyright a {
        color: getColor(white);
        text-decoration: none;

        &:hover {
            color: getColor(gold);
        }
    }
    span {
        font-weight: 600;
    }

}