.login-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.login-form {
    text-align: center;
    padding-bottom: 39%;

    @media (min-width: $media-ipad) {
        padding-bottom: 30%;
    }

    @media (min-width: $media-laptop) {
        padding-bottom: 12%;
    }

}

.avatar-login {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 16px;

    @media (min-width: $media-ipad) {
        padding-top: 25%;
    } 
    @media (min-width: $media-laptop) {
        padding-top: 15%;
    }
    i {
        font-size: 50px;
        color: getColor(gold);
    }

}